---
export const prerender = false;

import MetaOnlyLayout from "@/layouts/MetaOnlyLayout.astro";

const cookieName = "evp_session";
let isLoggedIn = Astro.cookies.get(cookieName)?.value === "active";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const action = formData.get("action");

  if (action === "login") {
    Astro.cookies.set(cookieName, "active", {
      path: "/",
      sameSite: "none",
      secure: true,
      maxAge: 3600, // 1 hour
    });
    isLoggedIn = true;
  } else if (action === "logout") {
    Astro.cookies.delete(cookieName, { path: "/" });
    isLoggedIn = false;
  }
}
---

<MetaOnlyLayout
  title="Issuer - Email Verification Protocol (EVP) demo"
  description="Demo of an Email Verification Protocol (EVP) Issuer"
>
  <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="Issuer - Email Verification Protocol (EVP) demo"
  />
  <meta
    property="og:description"
    content="Demo of an Email Verification Protocol (EVP) Issuer"
  />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:domain" content="rowan.fyi" />
  <meta
    property="twitter:url"
    content={new URL(Astro.url.pathname, Astro.site)}
  />
  <meta
    name="twitter:title"
    content="Issuer - Email Verification Protocol (EVP) demo"
  />
  <meta
    name="twitter:description"
    content="Demo of an Email Verification Protocol (EVP) Issuer"
  />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📧</text></svg>"
  />
  <style>
    html {
      font-family: sans-serif;
    }
  </style>
  <h1>Issuer - Email Verification Protocol (EVP) demo</h1>
  {
    isLoggedIn ? (
      <div>
        <p>
          Logged in as <strong>demo@rowan.fyi</strong>
        </p>
        <form method="POST">
          <input type="hidden" name="action" value="logout" />
          <button type="submit" class="btn btn-danger">
            Log out
          </button>
        </form>
      </div>
    ) : (
      <div>
        <p>Not logged in</p>
        <form method="POST">
          <input type="hidden" name="action" value="login" />
          <button type="submit" class="btn btn-success">
            Log in as demo@rowan.fyi
          </button>
        </form>
      </div>
    )
  }
</MetaOnlyLayout>
