node_modules
.git
.github
.idx
.jules
.Jules
.vscode
dist
tmp
.prettierrc.mjs
eslint.config.js
eslint.security.config.js
eslint.sonar.config.js
tsconfig.json
vitest.config.ts
README.md
AGENTS.md
dev.log
