.status {
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.enabled {
  color: darkgreen;
  background: palegreen;
}

.disabled {
  color: darkred;
  background: lightcoral;
}

pre {
  max-width: 60ch;
  overflow-x: auto;
}
