:root {
  color-scheme: light dark;
  --main-bg: light-dark(hsl(214, 19%, 80%), hsl(206, 65%, 5%));
  --main-fg: light-dark(hsl(206, 65%, 5%), hsl(214, 19%, 68%));
  --sec-bg: light-dark(hsl(206, 65%, 15%), hsl(206, 65%, 15%));
  --sec-fg: light-dark(hsl(214, 19%, 68%), hsl(214, 19%, 68%));
  --sec-border: light-dark(hsl(214, 11%, 48%), hsl(214, 11%, 48%));
  --sec-highlight: light-dark(hsl(214, 19%, 88%), hsl(214, 19%, 88%));
  --sec-accent: light-dark(hsl(335, 32%, 29%), hsl(335, 32%, 29%));

}

body {
  font-family: "Noto Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: var(--main-bg);
  color: var(--main-fg);
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--sec-bg);
  color: var(--sec-fg);
  font-family: "Share Tech", "Noto Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  text-transform: lowercase;
  font-size: 1.5rem;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-block-end: var(--sec-border) solid 1px;
  padding-block: .5rem;
}

footer {
  border-block-start: var(--sec-border) solid 1px;
  padding-block: 1rem;
}

header,
main,
footer {
  padding-inline: max(1rem, calc((100vw - 800px)/2));
}

header .logo {
  fill: var(--sec-fg);
  line-height: 0;
}

header .logo svg {
  width: 10rem;
  display: inline;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

header a,
footer a,
header a:visited,
footer a:visited {
  color: var(--sec-fg);
  text-decoration: none;
}

header a:active,
footer a:active,
header a:hover,
footer a:hover {
  color: var(--sec-highlight);
  fill: var(--sec-highlight);
  text-decoration: underline var(--sec-accent);
}

main {
  padding-block: 1rem;
}

h1 {
  color: var(--main-fg);
  margin-top: .2rem;
  margin-bottom: .2rem;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* text-transform: uppercase; */
}

main a,
main a:visited {
  color: var(--main-fg);
}

main a:active,
main a:hover {
  color: var(--main-fg);
}

footer .socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1rem;
}