---
import DefaultHead from "@/components/DefaultHead.astro";
import DefaultBodyLayout from "@/layouts/DefaultBodyLayout.astro";
---

<!doctype html>
<html lang="en">
<DefaultHead title="404 Not found | rowan.fyi" description="There's no page on this URL." />
<DefaultBodyLayout>
  <main>
    <h1>404 Not found</h1>
    <p>There's no page on this URL. You can try checking from the <a href="/">home page</a>.
  </main>
</DefaultBodyLayout>