---
import SiteDefaultLayout from "src/layouts/SiteDefaultLayout.astro";
import Header from "@/components/Header.astro";
---

<SiteDefaultLayout
  title="404 Not found | rowan.fyi"
  description="There's no page on this URL."
>
  <Header />
  <main>
    <h1>404 Not found</h1>
    <p>
      There's no page on this URL. You can try checking from the <a href="/"
        >home page</a
      >.
    </p>
  </main>
</SiteDefaultLayout>
