---
import BareLayout from 'src/layouts/BareLayout.astro';
import Header from '@/components/Header.astro';
import PostCardView from '@/components/PostCardView.astro';

import { getCollection } from 'astro:content';

import Bluesky from '/public/img/socials/bluesky-fill.svg';
import GitHub from '/public/img/socials/github-fill.svg';
import Linkedin from '/public/img/socials/linkedin-box-fill.svg';
import Mastodon from '/public/img/socials/mastodon-fill.svg';
import Threads from '/public/img/socials/threads-line.svg';
import Glitch from '/public/img/socials/vip-diamond-fill.svg';

const profileData = {
	'@context': 'https://schema.org',
	'@type': 'ProfilePage',
	'dateCreated': '2025-05-06T00:00:00+00:00',
	'mainEntity': {
		'@type': 'Person',
		'name': 'Rowan Merewood',
		'description': 'Developer, Developer Relations, and manager - sometimes all at once. Works on Privacy Sandbox at Google.',
		'image': new URL('/img/rowan-merewood.jpg', Astro.site),
		'sameAs': [
		  'https://bsky.app/profile/rowan.fyi',
			'https://mastodon.social/@rowan_m',
			'https://glitch.com/@rowan-m',
			'https://github.com/rowan-m/',               
			'https://www.threads.net/@rowan_m',
			'https://www.linkedin.com/in/rowanmerewood/',
		]
	}
}

const posts = await getCollection('posts');
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BareLayout title="rowan.fyi" description="Rowan Merewood's site featuring a variery of web development projects and posts." >
	<script is:inline type="application/ld+json" set:html={JSON.stringify(profileData)} />
	<Header useH1={true} />
	<main>
		<p>For your information, you can find me here:</p>
		<ul class="socials">
			<li><a href="https://bsky.app/profile/rowan.fyi" title="rowan@fyi on Bluesky"><Bluesky /> @rowan.fyi</a></li>
			<li><a href="https://mastodon.social/@rowan_m" title="@rowan_m on Mastodon"><Mastodon /> @rowan_m@mastodon.social</a></li>
			<li><a href="https://glitch.com/@rowan-m" title="rowan-m on Glitch"><Glitch /> rowan-m</a></li>
			<li><a href="https://github.com/rowan-m/" title="rowan-m on GitHub"><GitHub /> rowan-m</a></li>
			<li><a href="https://www.threads.net/@rowan_m" title="@rowan_m on Threads"><Threads /> rowan_m</a></li>
			<li><a href="https://www.linkedin.com/in/rowanmerewood/" title="rowanmerewood on LinkedIn"><Linkedin /> rowanmerewood</a></li>
		</ul>
		<section class="posts">
			<h2>Posts</h2>
			<div>
				{posts.map((post) => <PostCardView post={post} />)}
			</div>
		</section>
	</main>
</BareLayout>
