---
import PostCardView from "@components/PostCardView.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
posts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));

---

<BaseLayout title="Posts" description="Posts by Rowan Merewood">
<section class="posts">
{
  posts.map((post) => (
    <PostCardView post={post} />
  ))
}
</section>
</BaseLayout>
