---
import ProjectCardView from "@components/ProjectCardView.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Projects";
const projects = await getCollection("projects");

---

<BaseLayout pageTitle={pageTitle}>
<section class="projects">
{
  projects.map((project) => (
    <ProjectCardView project={project} />
  ))
}
</section>
</BaseLayout>
