---
import ProjectCardView from "@components/ProjectCardView.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

---

<BaseLayout title="Projects" description="Projects by Rowan Merewood">
<section class="projects">
{
  projects.map((project) => (
    <ProjectCardView project={project} />
  ))
}
</section>
</BaseLayout>
