---

---
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖤</text></svg>">
<title>Projects</title>
<style></style>
<h1>Projects</h1>
<p>It's a project showcase... eventually.</p>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/projects">Projects</a></li>
	<li><a href="/blog">Blog</a></li>
</ul>