---
import CommonMeta from "@/components/CommonMeta.astro";
import "@/assets/base.css";

interface Props {
  title: string;
  description: string;
  useH1HeaderHeader?: boolean;
}
const { title, description, useH1HeaderHeader } = Astro.props;
---

<CommonMeta />
<link rel="icon" href="/img/icon.svg">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<title>{title}</title>
<meta name="description" content={description}>