---
import Bluesky from '/public/img/socials/bluesky-fill.svg';
import GitHub from '/public/img/socials/github-fill.svg';
import Linkedin from '/public/img/socials/linkedin-box-fill.svg';
import Mastodon from '/public/img/socials/mastodon-fill.svg';
import Threads from '/public/img/socials/threads-line.svg';
import Glitch from '/public/img/socials/vip-diamond-fill.svg';
import Rss from '/public/img/rss.svg';
---
<footer>
  <span class="socials">
    <a href="/rss.xml" title="RSS feed"><Rss /></a>
    <a href="https://bsky.app/profile/rowan.fyi" title="rowan@fyi on Bluesky"><Bluesky /></a>
    <a href="https://mastodon.social/@rowan_m" title="@rowan_m on Mastodon"><Mastodon /></a>
    <a href="https://glitch.com/@rowan-m" title="rowan-m on Glitch"><Glitch /></a>
    <a href="https://github.com/rowan-m/" title="rowan-m on GitHub"><GitHub /></a>
    <a href="https://www.threads.com/@rowan_m" title="@rowan_m on Threads"><Threads /></a>
    <a href="https://www.linkedin.com/in/rowanmerewood/" title="rowanmerewood on LinkedIn"><Linkedin /></a>
  </span>
</footer>