---
import Logo from "@/assets/logo.svg";
interface Props {
  useH1Header?: boolean;
}
const { useH1Header } = Astro.props;
---

<header>
  {
    useH1Header ? (
      <h1 class="logo">
        <a href="/" aria-label="rowan.fyi" title="rowan.fyi">
          <Logo />
        </a>
      </h1>
    ) : (
      <a href="/" class="logo" aria-label="rowan.fyi" title="rowan.fyi">
        <Logo />
      </a>
    )
  }
</header>
