---
import Logo from "@/assets/logo.svg";
interface Props {
  useH1Header?: boolean;
}
const { useH1Header } = Astro.props;
---

<header>
{ useH1Header ? (
  <h1 class="logo"><a href="/" title="rowan.fyi"><Logo /></a></h1>
) : (
  <a href="/" class="logo" title="rowan.fyi"><Logo /></a>
)
}
</header>