---

---

<style>
  div > div:first-child {
    font-size: var(--size-step-0);
    color: var(--sec-fg);
  }

  #track-url {
    display: grid;
    grid-template-areas:
      "image name"
      "image artist"
      "image album";
    grid-template-columns: 4rem 1fr;
    gap: 0 1rem;
    border: 1px solid var(--sec-border);
    padding: 0.5rem;
    text-decoration: none;
    color: var(--main-fg);
    align-items: center;
  }

  #track-url:hover {
    border-color: var(--main-accent);
  }

  #track-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  #track-name {
    grid-area: name;
    font-weight: bold;
    font-size: var(--size-step-1);
    align-self: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  #track-artist {
    grid-area: artist;
    font-size: var(--size-step-0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  #track-album {
    grid-area: album;
    font-size: var(--size-step-0);
    color: var(--sec-fg);
    font-style: italic;
    align-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
</style>
<div>
  <div>Last.fm <span id="track-status">last played</span></div>
  <a id="track-url" href="#">
    <img id="track-image" src="#" alt="Cover art" />
    <div id="track-name">...</div>
    <div id="track-album">...</div>
    <div id="track-artist">...</div>
  </a>
  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      const USERNAME = "rowan_m";
      const API_KEY = "edcf3d9e6ada6d0b9f565d83c92b6724";
      const URL = `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${USERNAME}&api_key=${API_KEY}&format=json&limit=1`;

      try {
        const response = await fetch(URL);
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json();
        const recentTrack = data.recenttracks?.track?.[0];

        if (recentTrack) {
          document.getElementById("track-url").href = recentTrack.url;
          document.getElementById("track-image").src =
            recentTrack.image[2]["#text"];
          document.getElementById("track-name").textContent = recentTrack.name;
          document.getElementById("track-album").textContent =
            recentTrack.album["#text"];
          document.getElementById("track-artist").textContent =
            recentTrack.artist["#text"];
          document.getElementById("track-status").textContent = recentTrack[
            "@attr"
          ]?.nowplaying
            ? "now playing"
            : "last played";
        }
      } catch (error) {
        console.error("Could not fetch Last.fm data:", error);
      }
    });
  </script>
</div>
