---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<div class="card">

  <a href={"/posts/" + post.id}>
    <Image
      src={post.data.image}
      alt="Preview"
      width="400"
    />
  </a>
  <a href={"/posts/" + post.id}>
    <h2>{post.data.title}</h2>
  </a>
  <p>{post.data.description}</p>
</div>

