---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<div class="card">

  <a href={"/posts/" + post.id}>
    <Image
      src={post.data.image}
      alt="Preview"
      width="800"
    />
  </a>
  <a href={"/posts/" + post.id}>
    <h3>{post.data.title}</h3>
  </a>
  <span class="date">{post.data.pubDate.getFullYear() + '/' + String(post.data.pubDate.getMonth() + 1).padStart(2, '0') + '/' + String(post.data.pubDate.getDate()).padStart(2, '0')}</span>
  <p>{post.data.description}</p>
</div>

