---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}
const { project } = Astro.props;
---

<div class="card">

  <a href={"/projects/" + project.id}>
    <Image
      src={project.data.image}
      alt="Preview"
      width="400"
    />
  </a>
  <a href={"/projects/" + project.id}>
    <h2>{project.data.title}</h2>
  </a>
  <p>{project.data.description}</p>
</div>

