---
// Note: Astro bundles this script and it is only included once per page.
// Multiple buttons will not get multiple listeners.
// https://docs.astro.build/en/guides/client-side-scripts/#handle-onclick-and-other-events
import ShareIcon from "/public/img/share.svg";
---

<button class="button share-button" style="display: none;">
  <ShareIcon /><span>Share</span>
</button>

<script>
  document.querySelectorAll("button.share-button").forEach((button) => {
    if (navigator.share) {
      // Reveal the button if the Web Share API is supported
      (button as HTMLButtonElement).style.display = "";

      button.addEventListener("click", async () => {
        try {
          await navigator.share({
            title: document.title,
            url: window.location.href,
          });
        } catch (error) {
          console.error("Error sharing:", error);
        }
      });
    }
  });
</script>
