/* CSS files add styling rules to your content */

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin-right: 80px;
  color: #1F618D;
  font-size: 120%;
}

h2 {
  color: #FEFEFE;
  background: #2471A3;
  font-size: 110%;
}

h3 {
  color: #1F618D;
  font-size: 110%;
}

a, a:visited {
  color: #1F618D;
}

footer {
  margin-top: 2em;
  border-top: #1F618D 1px solid;
  font-size: 80%;
}