/* CSS files add styling rules to your content */

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin-right: 80px;
  color: #1f618d;
  font-size: 120%;
}

h2 {
  color: #fefefe;
  background: #2471a3;
  font-size: 110%;
}

h3 {
  color: #1f618d;
  font-size: 110%;
}

a,
a:visited {
  color: #1f618d;
}

footer {
  margin-top: 2em;
  border-top: #1f618d 1px solid;
  font-size: 80%;
}
