:root {
  color-scheme: light dark;
  --main-bg: light-dark(hsl(214, 20%, 95%), hsl(206, 65%, 5%));
  --main-fg: light-dark(hsl(206, 65%, 5%), hsl(214, 19%, 68%));
  --main-highlight: light-dark(hsl(206, 65%, 25%), hsl(214, 19%, 88%));
  --main-accent: light-dark(hsl(0, 60%, 40%), hsl(0, 40%, 40%));
  --sec-bg: light-dark(hsl(206, 65%, 15%), hsl(206, 65%, 15%));
  --sec-fg: light-dark(hsl(214, 19%, 68%), hsl(214, 19%, 68%));
  --sec-border: light-dark(hsl(214, 11%, 48%), hsl(214, 11%, 48%));
  --sec-highlight: light-dark(hsl(214, 19%, 88%), hsl(214, 19%, 88%));
  --sec-accent: light-dark(hsl(335, 32%, 29%), hsl(335, 32%, 29%));
  --size-step-0: 0.80rem;
  --size-step-1: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-2: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-3: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-4: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-5: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
  font-size: var(--size-step-1);
  font-family: sans-serif;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
  text-wrap: pretty;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Share Tech";
  src: url(/sharetech.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@view-transition {
  navigation: auto;
}

body {
  background-color: var(--main-bg);
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
ul {
  color: var(--main-fg);
}

h1,
h2,
h3 {
  font-family: "Share Tech", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--size-step-4);
  margin-block: .5rem;
  line-height: 1.1;
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

p {
  margin: 0;
  margin-block: .75rem;
}

ul {
  list-style-type: square;
}

li::marker {
  color: var(--main-accent);
}

.button {
  background-color: transparent;
  color: var(--main-fg);
  border: 1px solid var(--main-accent);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .25rem;
  border-radius: .1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: var(--main-highlight);
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
  text-decoration: none;
}

.button>svg,
main ul.socials svg {
  width: 1rem;
  height: 1rem;
}

.astro-code {
  padding: 1rem;
}

footer,
header {
  color: var(--sec-fg);
  fill: var(--sec-fg);
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(130deg, hsl(205, 66%, 15%), hsl(220, 36%, 45%));
    filter: url(/img/grain.svg#grain);
    clip-path: inset(0);
    content: ''
      /* pseudo won't show up without it */
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-block-end: var(--sec-border) solid 2px;
  padding-block: .5rem;
}

footer {
  border-block-start: var(--sec-border) solid 1px;
}

footer,
header,
main {
  padding-inline: max(2rem, calc((100vw - 75ch)/2));
}

footer,
main {
  padding-block: 1rem;
}

nav {
  display: flex;
}

header .logo,
header a {
  line-height: 0;
  margin: 0;
  padding: 0;
}

header .logo svg {
  width: 10rem;
}

footer a,
footer a:visited,
header a,
header a:visited {
  color: var(--sec-fg);
  text-decoration: none;
}

footer a:active,
footer a:hover,
header a:active,
header a:hover {
  color: var(--sec-highlight);
  fill: var(--sec-highlight);
  text-decoration: underline var(--sec-accent);
}

main a,
main a:visited {
  color: var(--main-fg);
}

main a:active,
main a:hover {
  color: var(--main-highlight);
  text-decoration: underline var(--main-accent);
}

main ul.socials,
main ul.socials li {
  list-style-type: none;
  padding-inline-start: 0;
}

main ul.socials svg {
  vertical-align: text-bottom;
}

main ul.socials li::marker {
  content: none;
}

footer .socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1rem;
}

footer .socials svg {
  width: 1.5rem;
  height: 1.5rem;
}



.post-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-block: .5rem;
}

.post-meta,
.pubdate {
  font-size: var(--size-step-0);
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}