---
import HtmlBoilerplate from "@/components/HtmlBoilerplate.astro";
import LinkRels from "@/components/LinkRels.astro";
import Footer from "@/components/Footer.astro";
import "@/assets/base.css";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<HtmlBoilerplate />
<LinkRels />
<link rel="icon" href="/img/icon.svg" />
<title>{title}</title>
<meta name="description" content={description} />
<slot />
<Footer />
