---
import Logo from "@public/img/logo.svg";
import Bluesky from "@public/img/socials/bluesky-fill.svg";
import GitHub from "@public/img/socials/github-fill.svg";
import Linkedin from "@public/img/socials/linkedin-box-fill.svg";
import Mastodon from "@public/img/socials/mastodon-fill.svg";
import Threads from "@public/img/socials/threads-line.svg";
import Glitch from "@public/img/socials/vip-diamond-fill.svg";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/base.css">
<link rel="icon" href="/img/icon.svg">
<link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
<link rel="me" href="https://mastodon.social/@rowan_m">
<meta name="fediverse:creator" content="@rowan_m@mastodon.social">
<title>{title}</title>
<meta name="description" content={description}>
<header>
  <nav>
    <a href="/" class="logo" title="rowan.fyi"><Logo /></a>
    <a href="/posts/">Posts</a>
    <a href="/projects/">Projects</a>
  </nav>
</header>
<main>
  <div class="under-construction"><span>🚧</span> Under construction <span>🚧</span> <br>
    I'm actively building this site, that's why it looks... like this. <a href="/">Ping me on something social</a> if you find it!
  </div>
  <h1>{title}</h1>
  <slot />
</main>
<footer>
  <span class="socials">
    <a href="https://bsky.app/profile/rowan.fyi" title="rowan@fyi on Bluesky"><Bluesky /></a>
    <a href="https://mastodon.social/@rowan_m" title="@rowan_m on Mastodon"><Mastodon /></a>
    <a href="https://glitch.com/@rowan-m" title="rowan-m on Glitch"><Glitch /></a>
    <a href="https://github.com/rowan-m/" title="rowan-m on GitHub"><GitHub /></a>
    <a href="https://www.threads.net/@rowan_m" title="@rowan_m on Threads"><Threads /></a>
    <a href="https://www.linkedin.com/in/rowanmerewood/" title="rowanmerewood on LinkedIn"><Linkedin /></a>
  </span>
</footer>