---
import BareLayout from "src/layouts/BareLayout.astro";
import Logo from "@public/img/logo.svg";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<BareLayout title={title} description={description}>
  <header>
    <nav>
      <h1 class="logo"><a href="/" title="rowan.fyi"><Logo /></a></h1>
    </nav>
  </header>
</BareLayout>
<main>
  <slot />
</main>
<Footer />
