---
import CommonMeta from "@/components/CommonMeta.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/assets/base.css";

interface Props {
  title: string;
  description: string;
  useH1HeaderHeader?: boolean;
}
const { title, description, useH1HeaderHeader } = Astro.props;
---

<!doctype html>
<html lang="en">
<CommonMeta />
<link rel="icon" href="/img/icon.svg">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<title>{title}</title>
<meta name="description" content={description}>
<Header useH1Header={useH1HeaderHeader} />
<slot />
<Footer />